# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
venv/
env/
/.venv/
pip-wheel-metadata/
pip-egg-info/
*.egg

# Next.js
/node_modules
/.pnp
.pnp.js
/coverage
/.next/
/out/
/build
.DS_Store
*.pem
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env*.local
.vercel
*.tsbuildinfo
next-env.d.ts

# macOS
.DS_Store

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.komodoproject
.komodotools/
.eclipse/
.pydevproject
pycharm/
*.bak
*.swp
*~.nib
*.swp
*.vi
*~
*.sass-cache/
.tmp
.hg
.svn
CVS
*.DS_Store
*.bak
*.swp
Thumbs.db
desktop.ini